<Configuration packages="ch.hevs.cloudio.endpoint">
    <Appenders>
        <CloudioLogAppender name="CloudioLogAppender"/>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} -- %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="CloudioLogAppender" />
        </Root>
    </Loggers>
</Configuration>